body {
  background-color: #DBE2EF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 10%;
}

h1:hover {
  color: orange;
  font-size: 49px;
}

h3 {
  color: #3F72AF;
}

.circular {
  border-radius: 100%;
}
