body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

div {
  background-color: #FCD1D1;
}

.top-container {
  background-color: #FCD1D1;
}

.middle-container {
  background-color: #ECE2E1;
  width: 200px;
  height: 200px;
  border: solid 20px;
  margin-left: 260px;
}

.bottom-container {
  background-color: #D3E0DC;
  width: 200px;
  height: 200px;
  margin-left: 500px;
}
