body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;


}

h1 {
  width: 50%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 58px;
}

h2 {
  font-family: 'Merriweather', serif;
}

div {
  background-color: #FCD1D1;
}

.top-container {
  background-color: #FCD1D1;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {

}

.bottom-container {

}
